:root{
    --primary-color: rgb(81, 80, 95);
    --shade-color: rgb(29, 28, 35);
    --darker-shade: rgb(18, 18, 22);
    --black: black;
    --border-radius: 15px;
}

body{
    background-color: #00051e;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:107rem;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
	position: relative;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	width: 70%;
	height: 85vh;
	/* background: #000522e0 ; */
	/* box-shadow: 0px 56.2835px 112.567px rgba(70, 70, 70, 0.78); */
	border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.labels{
    display: flex;
    justify-content: space-around;
}

.labels div{
    color: white;
    font-weight: 500;
}

.barplot {
    display: flex;
	align-items: center;
	justify-content: center;
	gap: 1%;
}
.barplot .barplot-content{
    background: rgba(255, 255, 255, 0.8);
	width: 48.2%;
	height: 38.5vh;
	padding: 0px 5px;
	border-radius: 5px;
	position: relative;
    margin-top: 2vh;
}

.spectrogram{
    display: flex;
	align-items: center;
	justify-content: center;
    gap: 1%;
    margin-bottom: 1vh;
}
.spectrogram .spectrogram-content{
    display: flex;
    background: rgba(255, 255, 255, 0.8);
	width: 48.2%;
	height: 38.5vh;
	padding: 0px 5px;
	border-radius: 5px;
	position: relative;
    margin-top: 1.5vh;
	transition: all 200ms ease-in-out; 
}
.mic-input{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45.2%;
    left: -2%;
    transform: translate(60.4%, -250%);
    background-color: transparent;
    width: 13%;
    height: 5%;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    border: 0;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
}

#recording{
    width: 99%;
    height: 99%;
    border-radius: var(--border-radius);
}

#recording button{
    width: 100%;
    height: 200%;
    border-radius: inherit;
    background-color: transparent;
    color: white;
    appearance: none;
    outline: 0;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.mic-icon{
    color: inherit;
    font-size: 3rem;
    pointer-events: none;
}

.mic-input-active{
    color: white !important;
    border: 2px solid white !important;
}

.correct-voice{
    color: greenyellow !important;
    border: 2px solid greenyellow !important;
}

.wrong-voice{
    color: red !important;
    border: 2px solid red !important;
}

.test-buttons{
    width: 10rem;
    height: 5rem;
}


.user-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 12%;
    height: 18%;
    position: absolute;
    top: 50.2%;
    left: -2%;
    transform: translate(60.4%, -20%);
    border-radius: var(--border-radius);
    border: 10px solid transparent;
    border-bottom: transparent;
    z-index: -3;
}

.circles{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 5%
    
}

.circle{
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.data-text{
    text-align: center;
    color: white;

}

.user-data .data{
    color: inherit;
    margin-top: 10px;
}

.user-data .user-name{
    font-weight: bold;
}

.user-data .status{
    font-size: 12px;
}

.one-cond{
    background-color: var(--primary-color) !important;
}

.two-right-conds{
    background-color: rgb(9, 79, 183);
}

.two-wrong-conds{
    background-color: red;
}
@media only screen and (max-width: 360px) {
    .container {
        width: 7%;
        height: 2vh;
    }
    .barplot {
        gap: 10px;
    }
    .barplot .barplot-content{
        width: 2%;
        height: 0.25vh;
    }
    .spectrogram{
        gap: 50px;
    }
    .spectrogram .spectrogram-content{
        width: 2%;
        height: 0.2vh;
    }
    .mic-input{
        width: 5%;
        height: 2%;
    }
    .user-data{
        width: 4%;
        height: 5%;
    }
    
}
