<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/all.min.css">

</head>
<body>
    <div class="door-container">
        <div class="door-frame">

        </div>
        <div class="door">
            <div class="door-window-container">
                <div class="door-window">
                    <div class="window-handle">
    
                    </div>
                </div>
                <div class="eyes">
                    <div class="eye-container">
                        <div class="eye">
                            <div class="eye-cornea"></div>
                        </div>
                        <div class="eyelid left-eyelid">
                            <div class="eyelid-hair"></div>
                        </div>
                    </div>
                    <div class="eye-container">
                        <div class="eye">
                            <div class="eye-cornea"></div>
                        </div>
                        <div class="eyelid right-eyelid">
                            <div class="eyelid-hair"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="door-handle">
                <div class="door-handle-shade"></div>
            </div>
            <div class="door-hinges">
                <div class="hinge"></div>
                <div class="hinge"></div>
            </div>
        </div>
        <div class="opened-door-background">
            <div class="tunnel-end"></div>
            <div class="tunnel-ground"></div>
        </div>
    </div> 
    <div class="lower-edge">
        <div class="horizontal"></div>
    </div>
    <div class="shadows">
        <div class="shadow right"></div>
        <div class="shadow left"></div>
        <div class="shadow top"></div>
        <div class="shadow bottom"></div>
    </div>
    <div class="mic-input">
        <div class="mic-icon">
            <i class="fa-solid fa-microphone"></i>
        </div>
    </div>
</body>
<script src="/static/js/main.js"></script>
<script src="/static/js/all.min.js"></script>
</html>